PORT=3000

SUPABASE_URL=https://maywqqdptaxfzyjyinwv.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1heXdxcWRwdGF4Znp5anlpbnd2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwOTc5OTUsImV4cCI6MjA5NDY3Mzk5NX0.wlonSwoOY7ltoid5RD9ysdUYay5JmFbRaVBL5BPMqc4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1heXdxcWRwdGF4Znp5anlpbnd2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTA5Nzk5NSwiZXhwIjoyMDk0NjczOTk1fQ.4_vuXQjXTfjG_MzBnsdhYEShriKoj4JnEq96ur-lwIE

JWT_SECRET=a12s3d8we4asdkajshdkajsdgjugaamnsdmasdasdasd5

SUPABASE_STORAGE_BUCKET=products
